@media print {


    .container{

        margin-right: -1px;
        margin-left: 5px;
        width: 1200px !important;
    }


    .borde-derecho {

        border-right: 1px solid black;

    }


    .btns-matriculas{
        display: none !important;

    }

}